* {
    box-sizing: border-box;
    font-size: 100%;
    font-family: 'Lato', Verdana;
}
body {
    margin: 0 8px 8px 8px;
}
::selection {
    color: white;
    background-color: black;
}
/* global variable */
:root {
    --green: #04a96d;
}

/* nav */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}
li {
    float: left;
}
.liins {
    float: right;
    background-color: var(--green);
}
li a, .listbtn {
    /* inline-block permet de donner une taille à l'élément tout en restant "inline"  */
    display: block;
    color: white;
    text-align: center;
    padding: 16px 12px;
    text-decoration: none;
    font-weight: bold;
}
li a:hover, .list:hover .listbtn {
    background-color: var(--green);
    color: black;
}
li.list {
    display: block;
}
.list-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 130px;
    z-index: 1;
}
.list:hover .list-content {
    display: block;
}
.list-content a {
    display: block;
    text-align: center;
}
nav {
    /* webkit permet d'adapter le sticky à safari */
    position: -webkit-sticky; 
    /* pour faire un contenu déroulant (dropdown) il faut une position (relative, sticky, fixed,...) */
    position: sticky;
    top: 0;
    z-index: 2;
}

/* page accueil */
.container {
    position : relative;
    width: 100%;
}
.intro {
    position: absolute;
    top: 60%;
    left: 20px;
    font-size: max(3vmin, 1.2em);
}
h1 {
    text-transform: uppercase;
    font-size: max(3.5vmin, 1.7em);
}
.boxintro1 {
    float: left;
    width: 50%;
}
.boxintro2 {
    float: left;
    width: 50%;
    padding: 10px;
}
.floatintro::after {
    content: "";
    clear: both;
    display: table;
}
video {
    border-radius: 7px;
    width: 100%;
    height: auto;
    /* préciser object-fit pour recadrer la vidéo dans son espace */
    object-fit: cover;
}
/* page accueil : dégradé fondu */
.imgintro {
    background-image: url(Images/296699.jpg);
    height: 730px;
    margin-bottom: 5px;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
}
.ov {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient(rgba(231, 37, 37, 0.4), white);
    width: 100%;
    height: 100%;
}
/* page tests */
main {
    margin-top: 10px;
}
h2 {
    display: inline;
    font-size: 2em;
}
h3 {
    font-size: 1.3em;
    margin-top: 30px;
}
main::after {
    clear: both;
    content: "";
    display: table;
}
table {
    width: 100%;
}
table, th, td {
    border: solid 1px black;
    border-collapse: collapse;
}
th {
    background-color: var(--green);
}
th, td {
    padding: 10px;
    text-align: center;
}
#table2 tr:nth-child(odd) {
    background-color: #beeedc;
}
/* Page test : tooltip test */
#tooltip {
    position: relative;
    display: inline-block;
}
#tooltiptext {
    visibility: hidden;
    width: 250px;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 1em;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 105%;
}
#tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
}
#tooltip:hover #tooltiptext {
    visibility: visible;
}

/* footer */
footer {
    background-color: black;
    text-align: center;
    font-size: max(4vmin, 1.5em);
    padding: 3% 0;
    font-family: 'outfit', Verdana;
    margin-top: 5px;
}
/* footer keyframe */
@keyframes part1 {
    0% {opacity: 0;}
    5% {opacity: 0,25;}
    10% {opacity: 0,5;}
    15% {opacity: 0,75;}
    20% {opacity: 1;}
    70% {opacity: 1;}
    77.5% {opacity: 0,75;}
    85% {opacity: 0,5;}
    92.5% {opacity: 0,25;}
    100% {opacity: 0;}
}
.span1 {
    opacity: 0;
    animation-name: part1;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}
@keyframes part2 {
    0% {opacity: 0;}
    25% {opacity: 0;}
    30% {opacity: 0,25;}
    35% {opacity: 0,5;}
    40% {opacity: 0,75;}
    45% {opacity: 1;}
    70% {opacity: 1;}
    77.5% {opacity: 0,75;}
    85% {opacity: 0,5;}
    92.5% {opacity: 0,25;}
    100% {opacity: 0;}

}
.span2 {
    opacity: 0;
    animation-name: part2;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}
@keyframes part3 {
    0% {opacity: 0;}
    50% {opacity: 0;}
    55% {opacity: 0,25;}
    60% {opacity: 0,5;}
    65% {opacity: 0,75;}
    70% {opacity: 1;}
    77.5% {opacity: 0,75;}
    85% {opacity: 0,5;}
    92.5% {opacity: 0,25;}
    100% {opacity: 0;}
}
.span3 {
    opacity: 0;
    animation-name: part3;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}

/* inscription */
form {
    /* si le browser ne supporte pas le gradient */
    background-color: rgb(221, 217, 217); 
    background-image: linear-gradient(90deg, white, rgba(10,10,10,0.6));
    margin: 15px 0;
    padding: 10px;
    border-radius: 10px;
}
input[type=text], input[type=password], input[type=date] {
    padding: 5px;
} 
input[type=email] {
    background-image: url(Images/mailicon.png);
    background-position: 5px 2px;
    background-repeat: no-repeat;
    background-size: auto 90%;
    padding: 5px 5px 5px 35px;
    border-radius: 2px;
    border: solid 0.8px gray;
}
textarea {
    width: calc(100% - 200px);
    height: 100px;
    padding: 5px;
    resize: none;
}
form {
    counter-reset: part;
}
h4 {
    line-height: 25px;
}
h4::before {
    counter-increment: part;
    content: counter(part);
    background-color: var(--green);
    padding: 5px 10px;
    border-radius: 10px / 5px;
}
input[type=submit]:hover, input[type=reset]:hover {
    box-shadow: 0 0 3px black;
}
/* page entrainements */
.text h5 {
    font-size: 4.5vmin;
    color: white;
    display: inline;
}
.text hr {
    background-color: black;
    height: 2px;
    border: none;
}
.text p {
    font-size: 3vmin;
}
/* page entrainements : hover overlay + flex */
.flexcont {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.contain {
    position : relative;
    flex: 45%;
    margin: 20px 15px;
}
.picday {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 black, 0 4px 5px 0 gray;
}
.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--green);
    border-radius: 5px;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}
.contain:hover .overlay {
    height: 100%;
}
.text {
    color: black;
    font-size: 1em;
    position: absolute;
    top: 62%;
    left: 81%;
    transform: translate(-85%, -60%);
    width: 90%;
}
/* page entrainements titre h2 vertical */
.contain h2 {
    position: absolute;
    top: 30%;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    color: white;
    text-shadow: 0 3px 6px black;
    font-size: 3vmax;
}
/* page entrainements2 : grid*/
.gridcont {
    display: grid;
    grid-template-areas:
    'j1 j2'
    'j3 j4'
    'j5 j6'
    ;
    /* espace entre row et espace entre col */
    gap: 10px 7.5px;
}
.item1 {
    grid-area: j1;
}
.item2 {
    grid-area: j2;
}
.item3 {
    grid-area: j3;
}
.item4 {
    grid-area: j4;
}
.item5 {
    grid-area: j5;
}
.item6 {
    grid-area: j6;
}

/* media querries */
@media screen and (max-width: 1000px) {
    #imgtest {
        display: none;
    }
    textarea {
        width: 100%;
    }
    .boxintro1, .boxintro2 {
        width: 100%;
    }
    #tooltiptext {
        top: 80%;
        left: 60%;
        margin-left: -100px;
    }
    #tooltiptext::after {
        top: -8%;
        left: 50%;
        margin-left: -5px;
        border-color: transparent transparent black transparent;
    }
    .flexcont {
        flex-direction: column;
    }
    .contain h2 {
        font-size: 4vmax;
    }
    .center {
        text-align: center;
    }
    .gridcont {
        grid-template-areas:
        'j1' 'j2' 'j3' 'j4' 'j5' 'j6'
        ;
    }
}
@media screen and (min-width: 1000px) {
    #imgtest2 {
        display: none;
    }
    .text h5 {
        font-size: 2.5vmax;
    }
    .text p {
        font-size: 1.5vmax;
    }
}
@media screen and (max-width: 480px) {
    li, .liins {
        float: none;
    }
    li a, .listbtn {
        padding: 6px 12px;
    }
    ul {
        text-align: center;
    }
    .list-content {
        min-width: 100%;
    }
    h3 {
        font-size: 1.2em;
    }
    
    h2 {
        display: inline;
        font-size: 1.4em;
    }
}